
.ghostWhite {
  background-color: #F8F8FF;
}
.graySixteen {
  color: #292929;
}

// grayFourteen 242424
// grayFifteen  262626
// graySixteen  292929

// gray 92  EBEBEB
// gray 89  E3E3E3
// gray 87  DEDEDE

.hrStyle { 
  border-top-style: solid;
  border-top-color: #DEDEDE;
  opcaity: 0.5;
}